@import "reset.css";
@import "header.css";

html{
    scroll-behavior: smooth;
}


.main__sec1{
    margin: 0 70px;
}

.main__sec1__column{
    margin-top: 112px;
}

.main__sec1__column__text > span{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 19px;
    display: block;
}

.main__sec1__column__text__title span{
    font-size: 40px;
    font-weight: bold;
    display: block;
}

.main__sec1__column__text__title > span:nth-child(1){
    margin-bottom: 18px;
}


.main__sec1__column__text__title > span:nth-child(2){
    margin-bottom: 27px;
}

.main__sec1__column__text__sub span{
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 12px;
}

.main__sec1__column__text__sub span:last-child{
    margin-bottom: 39px;
}

/* button */

.main__se1__column__button__box{
    position: relative;
    width: 273px;
    height: 55px;
    opacity: 1;
    transition: transform 1s linear,opacity 1s linear;
}

.main__sec1__column__button{
    width: 273px;
    height: 55px;
    border: 1px solid black;
    position: absolute;
    background-color: white;
    transition: background-color 0.4s ease-in-out;
    /* transform: translate3d(-101%,0 ,0); */
}

.main__sec1__column__button__fill{
    width: 275px;
    height: 57px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #fe3478;
    transform: translate3d(-101%,0,0);
    transition: transform .35s ease-in-out;
}

.main__sec1__column__button__text{
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    position: absolute;
    top: 36%;
    z-index: 1;
    /* transition: transform .35s ease-in-out,color .15s ease-out .1s; */
}
.main__se1__column__button__arrow{
    display: block;
    position: absolute;
    top: 32%;
    right: 0;
    margin-right: 10px;
}

.main__sec1__column__button img{
    margin-right: 10px;
}

.main__se1__column__button__box:hover{ 
    transform: translate3d(101%,0,0);
    
}
