@import "reset.css";

.header{
    /* background-color: bisque; */
    height: 61px;
    display: flex;
    align-items: center;
    margin: 0 70px;
    position: relative;
}

.header .header__nav{
    width: 900px;
    margin: 0 auto;
    /* overflow: hidden; */
    display: flex;
}

.header .header__nav > li{
    float: left;
    width: 25%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    /* background-color: bisque; */
    position: relative;
}

.header .header__nav > li:hover .header__nav-sub{
    display: block;
}

.header .header__nav > li a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
}

.header .header__nav > li a:hover{
    background-color: blue;
    color: white;
}

.header .header__nav .header__nav-sub{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    display: none;
}

.header .header__nav .header__nav-sub li{
    background-color: tomato;
}

.header .header__nav .header__nav-sub li a:hover{
    background-color: yellowgreen;
}

.header .header__lang-nav{
    display: flex;
}

.header .header__lang-nav li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}
/* header video */
.header__bg{
    height: 800px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: -1;
}

.header .header__bg video{
    width: 100%;
}
